/********** style général *******/
.btn-primary {
	border-radius: 20px;
	background-color: #72b890;
	border-color: #72b890;
}
.btn-primary:hover {
	background-color: #c05d8e;
	border-color: #c05d8e;
}
/********** header *****************/
.header {
	background-image: url("../images/64792527.jpg");
	background-size: cover;
    background-position: center;
	min-height: 90vh;
	margin-bottom: 50px;
	padding-top: 80px;
}
.header:after{
	position: absolute;
	right: 0;
	bottom: 49px;
	content: "salut";
	display : inline-block;
	height : 0;
	width : 0;
	border-bottom : 200px solid #fff9e8;
	border-left : 400px solid transparent;
}
.btn-acces-generateur-ex{
	position: absolute;
	right: 20px;
	bottom: 70px;
	z-index: 10;
}

.header-excuse{
	position: relative;
    background-image: url("../images/chat.jpg");
    background-size: cover;
    background-position: center;
    min-height: 90vh;
    margin-bottom: 50px;
	padding-top: 80px;
}
.header-excuse:after{
	position: absolute;
	right: 0;
	top:0;
	content: "salut";
	display : inline-block;
	height : 0;
	width : 0;
	border-top : 200px solid #fff9e8;
	border-left : 400px solid transparent;
}
.btn-acces-generateur-hi{
	position: absolute;
	right: 20px;
	top: 20px;
	z-index: 10;
}
.btn-acces-generateur-hi a, .btn-acces-generateur-ex a  {
	color: white;
}
.text-header-titre {
	font-size: 25px;
	text-transform: uppercase;
}
.container-text-header {
	display: flex;
	align-items: center;
	justify-content: center;
    margin-left: 80px;
	height: 40vh;
	padding: 15px;
	color: #fff;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.7);
	border-radius: 5px 5px;
}
.btn-acces-generateur a {
	color: white;
}

/********** zone avantages *****************/
.avantage {
	background-color: #fff;
	margin-bottom: 100px;
	border-bottom: solid 1px gray;
}
.container-text-avantage {
	text-align: center;
	padding: 10px 0 20px 0;
}
.titre-avantage {
	text-align: center;
	font-size: 20px;
	text-transform: uppercase;
}
.actualite-img {
	width: 100%;
	border-radius: 50% 50%;
}

.actualite-titre {
	margin-top: 10px;
}
.actualite {
	text-align: center;
}

.actualite-img {
	width: 50%;
	margin: auto;
}

/************** livre ***************/
.background-book{
	background-image: url("../images/livreVierge.png");
	background-repeat: no-repeat;
	background-size: contain;
	padding: 16px;
	background-position: center;
}
#histoire{
	padding-top: 50px;
	min-height: 100vh;
}
.container-histoire {
	text-align: center;
	margin-bottom: 100px;
}
.livre {
	justify-content: center;
}
.page {
	width: 40%;
	height: 70vh;
	border: 1px solid #cacaca;
}
.cover {
	box-shadow: 5px 5px 5px;
}
.page-image {
	overflow: hidden;
	padding: 20px;
	-webkit-border-radius: 40px 0 0 40px / 10px 0 0 10px;
	-moz-border-radius: 40px 0 0 40px / 10px 0 0 10px;
	border-radius: 40px 0 0 40px / 10px 0 0 10px;

}
.page-text {
	-webkit-border-radius: 0 40px 40px 0 / 0 10px 10px 0;
	-moz-border-radius: 0 40px 40px 0 / 0 10px 10px 0;
	border-radius: 0 40px 40px 0 / 0 10px 10px 0;

}
.img-livre {
	width: 100%;
	height: 100%;
}
.text-livre {
	padding: 10px 20px;
	text-align: left;
}
.text-livre {
	font-weight: 700;
}
.btn-primary:disabled {
	background-color: #989898;
	border-color: #989898;
}
.btn-end-story{
	background-color: #345442;
	border-color: #345442;
}
.select-histoire{
	border-radius: 20px;
	background-color: #72b890;
	border-color: #72b890;
	color: #fff;
	padding: 5px 10px;
	margin-top: 20px;
}


/************** excuse ************************/
.avantage-excuse{
	background-color: #fff;
	margin-bottom: 100px;
	border-bottom: solid 1px gray;
}

.container-excuse{
	margin-bottom: 200px;
	margin-top: 200px;
}
.excuse{
    border: solid 1px gray;
    min-height: 100px;
}
.select-excuse{
	border-radius: 20px;
	background-color: #3380b8;
	border-color: #3380b8;
	color: #fff;
	padding: 5px 10px;
	margin-top: 20px;
}
.btn-start-excuse{
	background-color: #3380b8;
	border-color: #3380b8;
	padding: 4px 12px;
}

/************** footer ************************/
footer {
	background-color: #2e2621;
	height: 100px;
	margin-top: 50px;
}
footer a {
	color: white;
}
.navbar-nav {
	flex-direction: row;
}
.nav-item {
	padding: 5px;
}
.btn-dark{
	border-radius: 28px;
	padding: 2px 12px;
}
/**************** book ***************/

#book {
	width: 800px;
	height: 500px;
}

#book .turn-page {
	background-color: white;
}

#book .cover {
	background: #333;
}

#book .cover h1 {
	color: white;
	text-align: center;
	font-size: 50px;
	line-height: 500px;
	margin: 0px;
}

#book .loader {
	background-image: url(loader.gif);
	width: 24px;
	height: 24px;
	display: block;
	position: absolute;
	top: 238px;
	left: 188px;
}

#book .data {
	text-align: center;
	font-size: 40px;
	color: #999;
	line-height: 500px;
}

#controls {
	width: 800px;
	text-align: center;
	margin: 20px 0px;
	font: 30px arial;
}

#controls input,
#controls label {
	font: 30px arial;
}

#book .odd {
	background-image: -webkit-linear-gradient(left, #fff 95%, #ddd 100%);
	background-image: -moz-linear-gradient(left, #fff 95%, #ddd 100%);
	background-image: -o-linear-gradient(left, #fff 95%, #ddd 100%);
	background-image: -ms-linear-gradient(left, #fff 95%, #ddd 100%);
}

#book .even {
	background-image: -webkit-linear-gradient(right, #fff 95%, #ddd 100%);
	background-image: -moz-linear-gradient(right, #fff 95%, #ddd 100%);
	background-image: -o-linear-gradient(right, #fff 95%, #ddd 100%);
	background-image: -ms-linear-gradient(right, #fff 95%, #ddd 100%);
}
